<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ac0df591-fe95-4396-a280-6707e58541e1/resourcegroups/AspNetcoreTest_group/providers/Microsoft.Web/sites/Tenisu20241001204613</ResourceId>
    <ResourceGroup>AspNetcoreTest_group</ResourceGroup>
    <ApiResourceId>/subscriptions/ac0df591-fe95-4396-a280-6707e58541e1/resourceGroups/AspNetcoreTest_group/providers/Microsoft.ApiManagement/service/Tenisuapi/apis/Tenisu</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tenisu20241001204613.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>35d89806-5a21-4fc9-9609-e85fd6cbd6dd</ProjectGuid>
    <MSDeployServiceURL>tenisu20241001204613.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Tenisu20241001204613</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Tenisu20241001204613</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>